<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 60%;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>API</h1>
        <h2>1. Các văn bản pháp luật có liên quan đến câu hỏi : <a href="/api/legal">/api/legal</a></h2>
        <h2>2. Bộ Hỏi-Đáp : <a href="/api/qna">/api/items/1</a></h2>
        
    </div>
</body>
</html>