<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 60%;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>FILE JSON</h1>
        <h2>1. <a href="/api/legal">Các văn bản pháp luật có liên quan đến câu hỏi : </a></h2>
        <h2>2. <a href="/api/qna">Bộ Hỏi-Đáp : </a></h2>
        
    </div>
</body>
</html>