<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 60%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>API</h1>
        <div>1. legal_corpus.json : <a href="/api/legal">/api/legal</a></div>
        <div>2. private_test_question.json : /api/items/&lt;int:item_id&gt;</div>
        <a href="/api/items/1">/api/items/1</a>
        <div>3. train_question_answer.json</div>
    </div>
</body>
</html>